<footer class="bg-[#0b3589] bottom-0 left-0 right-0 z-10 mt-auto">
  <nav class="flex px-4 py-8">
    <div class=" flex flex-col justify-center items-center w-1/2 ">
      <div>
        <p class="text-2xl font-semibold font-inter leading-9 text-[#b6ceff]">Gadget Hub </p>
        <p class="text-base font-normal font-rubik leading-normal text-[#84adff] mb-4">Магазин надежных гаджетов </p>
        <p class="text-base font-normal font-rubik leading-normal text-[#84adff]">© 2024 ООО “Гаджет Хаб”. Все права
          защищены</p>
      </div>
    </div>

    <div class=" flex justify-around w-1/2">
      <div class="flex gap-3 h-fit">
        <div>
          <img class="size-8" src="/assets/icons/smartphone_icon.svg" alt="smartphone_icon">
        </div>
        <div>
          <span class="text-[#b7ceff] text-xl font-medium font-rubik leading-[31.20px]">8 (800) 678-34-24</span>
        </div>
      </div>
      <div class="flex w-1/2 gap-4">
        <img class="w-9 h-9" src="/assets/images/vk_logo.png" alt="">
        <img class="w-9 h-9" src="/assets/images/telegram_logo.png" alt="">
        <img class="w-9 h-9" src="/assets/images/wpp_logo.png" alt="">
      </div>
    </div>
  </nav>
</footer>
