<div class="min-h-screen flex flex-col">
  <shared-header></shared-header>
  <div class="flex-grow bg-[#f2f5f9]">
    <div class="flex w-2/3 mx-auto my-8 gap-5">
      <div class="border-b-2 border-[#AEBDDB]">
        <button
          class="text-xl font-medium font-rubik py-2 px-4 border-b-4"
          (click)="selectTab('cart')"
          [ngClass]="{
            'border-blue-500 text-blue-500': selectedTab === 'cart',
            'border-transparent': selectedTab !== 'cart',
          }"
        >
          Корзина
        </button>
        <button
          class="text-xl font-medium font-rubik py-2 px-4 border-b-4"
          (click)="selectTab('history')"
          [ngClass]="{
            'border-blue-500 text-blue-500': selectedTab === 'history',
            'border-transparent': selectedTab !== 'history',
          }"
        >
          История заказов
        </button>
      </div>
    </div>
    <div class="flex w-2/3 mx-auto">
      <!-- Корзина tab -->
      <div *ngIf="selectedTab === 'cart'">
        <!-- checkbox Выбрать все -->

        <div *ngIf="cartItems.length; else emptyCart" class="bg-white my-8 p-4 rounded-lg">
          <div class="flex gap-3">
            <label class="text-base font-rubik">
              <input
                (change)="toggleSelectAll()"
                [(ngModel)]="selectAllChecked"
                type="checkbox"
                class="h-4 w-4 invert checked:invert-0 opacity-10 checked:opacity-100 mr-1"
              />
              Выбрать все
            </label>
            <button
              (click)="removeAllSelectedItems()"
              *ngIf="selectAllChecked"
              class="bg-transparent justify-center gap-3 inline-flex h-fit"
            >
              <img src="/assets/icons/deleteCart.svg" class="self-center" alt="deleteCart" />
              <p class="text-[#ff60c3] text-base font-rubik leading-normal">Удалить все</p>
            </button>
          </div>
          <div class="flex flex-col py-8 border-b-2" *ngFor="let product of cartItems">
            <!-- row -->
            <div class="flex gap-4">
              <!-- checkbox -->
              <label class="text-base font-rubik content-center">
                <input
                  [(ngModel)]="product.selected"
                  type="checkbox"
                  class="h-4 w-4 invert checked:invert-0 opacity-10 checked:opacity-100 mr-1"
                />
              </label>
              <!-- img -->
              <div class="bg-[#e4e7eb] w-28 rounded-[20px] content-center h-28 p-5">
                <img
                  [src]="product.src"
                  alt="product_image"
                  class="object-contain mx-auto h-20 w-full"
                />
              </div>
              <p class="w-80 text-sm font-rubik">{{ product.title }}</p>
              <!-- buttons -->
              <div class="flex gap-6 w-40">
                <div>
                  <button (click)="decreaseQuantity(product)" class="size-6 bg-[#e4e7eb] rounded">
                    <img src="/assets/icons/minus.svg" class="mx-auto" alt="minus" />
                  </button>
                </div>

                <p class="text-black text-base font-normal font-inter leading-[30px]">
                  {{ product.quantity }}
                </p>

                <div>
                  <button (click)="increaseQuantity(product)" class="size-6 bg-[#e4e7eb] rounded">
                    <img src="/assets/icons/plus.svg" class="mx-auto" alt="plus" />
                  </button>
                </div>
              </div>
              <p class="text-black text-lg font-medium font-rubik leading-7 w-40">
                {{ product.subtotal }} ₽
              </p>

              <button
                (click)="openModal(product)"
                class="bg-transparent justify-center gap-3 inline-flex h-fit"
              >
                <img src="/assets/icons/deleteCart.svg" class="self-center" alt="deleteCart" />
                <p class="text-[#ff60c3] text-base font-rubik leading-normal">Удалить</p>
              </button>
            </div>
          </div>
          <!-- total -->
          <div class="flex justify-end py-4">
            <p class="text-black text-lg font-medium font-rubik leading-[31.20px]">
              {{ cartItems.length }} товара на {{ total }} ₽
            </p>
          </div>
        </div>

        <ng-template #emptyCart>
          <div class="flex flex-col gap-3">
            <img src="/assets/icons/cart2.svg" alt="subtract" class="size-24" />
            <p class="font-medium text-2xl font-rubik">Пока пусто</p>
            <p class="text-base font-rubik text-[#474747] leading-normal">
              Ознакомьтесь с новинками и хитами на главной <br />или найдите нужное в каталоге
            </p>
            <!-- buttons -->
            <div class="flex">
              <button
                (click)="goToCatalog()"
                class="h-12 bg-[#115efb] rounded-lg justify-center items-center inline-flex px-5"
              >
                <div class="text-white text-base font-medium font-rubik leading-normal">
                  Перейти в каталог
                </div>
              </button>
              <button
                (click)="goToHome()"
                class="h-12 justify-center items-center inline-flex px-5"
              >
                <div class="text-[#115efb] text-base font-medium font-rubik leading-normal">
                  Главная страница
                </div>
              </button>
            </div>
          </div>
        </ng-template>

        <div *ngIf="cartItems.length">
          <p class="text-2xl font-medium font-rubik">Оформление заказа</p>
          <div class="bg-white my-8 p-4 rounded-lg flex flex-col gap-8">
            <div class="flex gap-5">
              <div class="flex-col justify-center items-start gap-1 inline-flex w-1/4">
                <div class="text-sm font-inter leading-[21px]">Телефон</div>
                <input
                  type="text"
                  class="self-stretch px-4 py-3 bg-[#e4e7eb] rounded-lg justify-start items-center gap-2.5 inline-flex hover:border-blue-500 border"
                />
              </div>

              <div class="flex-col justify-center items-start gap-1 inline-flex w-1/4">
                <div class="text-black text-sm font-inter leading-[21px]">E-mail</div>
                <input
                  type="email"
                  class="self-stretch px-4 py-3 bg-[#e4e7eb] rounded-lg justify-start items-center gap-2.5 inline-flex hover:border-blue-500 border"
                />
              </div>
            </div>
            <!-- radio buttons -->
            <div class="flex gap-3">
              <div class="flex items-center">
                <label class="ms-2 text-sm"
                  >Самовывоз
                  <input
                    [(ngModel)]="selectedTypeOrder"
                    [value]="'Самовывоз'"
                    type="radio"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300"
                  />
                </label>
              </div>

              <div class="flex items-center">
                <label class="ms-2 text-sm"
                  >Доставка
                  <input
                    [(ngModel)]="selectedTypeOrder"
                    [value]="'Доставка'"
                    type="radio"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300"
                  />
                </label>
              </div>
            </div>

            <div>
              <label
                class="block mb-2 text-black text-sm font-inter leading-[21px]"
                [attr.for]="
                  selectedTypeOrder === 'Самовывоз' ? 'paymentMethodSelect' : 'deliveryAddressInput'
                "
              >
                {{ selectedTypeOrder === 'Самовывоз' ? 'Способ оплаты' : 'Адрес доставки' }}
              </label>

              <select
                *ngIf="selectedTypeOrder === 'Самовывоз'"
                id="paymentMethodSelect"
                [(ngModel)]="selectedPaymentMethod"
                (change)="onChangePaymentMethod($event)"
                class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block px-4 py-3 bg-[#e4e7eb] w-1/4"
              >
                <option [value]="null" disabled selected>Select an option</option>
              </select>

              <input
                *ngIf="selectedTypeOrder === 'Доставка'"
                id="deliveryAddressInput"
                type="text"
                class="self-stretch px-4 py-3 bg-[#e4e7eb] rounded-lg justify-start items-center gap-2.5 inline-flex w-1/2"
              />
            </div>

            <div class="flex items-center">
              <input
                id="default-checkbox"
                type="checkbox"
                value=""
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 focus:ring-2"
              />
              <label for="default-checkbox" class="ms-2 text-sm">Нужна упаковка</label>
            </div>

            <button
              type="button"
              (click)="addOrder()"
              class="w-1/5 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
            >
              Оформить заказ
            </button>
          </div>
        </div>
      </div>

      <!-- История заказов tab -->
      <div *ngIf="selectedTab === 'history'" class="w-full">
        <div class="bg-white my-8 p-4 rounded-lg flex gap-3 flex-col">
          <div
            *ngFor="let order of orders"
            class="flex border-b-2 border-[#E4E7EB] pb-3 justify-between"
          >
            <div>№ {{ order.id }} от {{ order.date }}</div>
            <div>{{ order.quantity }} товар</div>
            <div>{{ order.total }} ₽</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <shared-footer></shared-footer>
</div>

<!-- Modal удалить -->
<div
  *ngIf="selectedProduct"
  class="fixed inset-0 flex items-center justify-center z-50 bg-gray-900 bg-opacity-50"
>
  <div class="bg-white w-[470px] h-[230px] p-14 rounded-[40px] shadow-lg relative">
    <button (click)="closeModal()" class="absolute top-6 right-6 text-gray-500 hover:text-gray-700">
      <img src="/assets/icons/close_window.svg" alt="close" class="w-4 h-4" />
    </button>

    <div class="flex flex-col gap-10">
      <p class="text-black text-xl font-medium font-rubik leading-7">
        Вы действительно хотите удалить {{ selectedProduct.title }}
      </p>
      <!-- buttons -->
      <div class="flex justify-end">
        <button
          (click)="closeModal()"
          class="px-5 h-12 bg-white rounded-lg justify-center items-center inline-flex"
        >
          <div class="text-[#ff60c3] text-base font-medium font-rubik leading-normal">Отмена</div>
        </button>
        <button
          (click)="removeItem()"
          class="px-5 h-12 bg-[#115efb] rounded-lg justify-center items-center inline-flex"
        >
          <div class="text-white text-base font-medium font-rubik leading-normal">Да, удалить</div>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal оформить заказ -->
<div
  *ngIf="showOrderModal"
  class="fixed inset-0 flex items-center justify-center z-50 bg-gray-900 bg-opacity-50"
>
  <div class="bg-white w-[500px] h-[320px] p-14 rounded-[40px] shadow-lg relative">
    <button
      (click)="closeOrderModal()"
      class="absolute top-6 right-6 text-gray-500 hover:text-gray-700"
    >
      <img src="/assets/icons/close_window.svg" alt="close" class="w-4 h-4" />
    </button>

    <div class="flex flex-col gap-2">
      <div>
        <img src="/assets/icons/happyOrder.svg" alt="happyOrder" />
      </div>
      <p class="text-2xl font-medium font-rubik">Спасибо за заказ!</p>
      <p class="text-base font-rubik">Номер заказа {{ orderNumber }}.</p>
      <p class="text-base font-rubik">
        Мы свяжемся с вами в течение 10 минут, чтобы уточнить удобное для вас время доставки
      </p>
      <div class="flex justify-end">
        <button
          type="button"
          (click)="closeOrderModal()"
          class="w-1/5 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-3 focus:outline-none dark:focus:ring-blue-800"
        >
          Ок
        </button>
      </div>
    </div>
  </div>
</div>
